{% load static %}
<html>
	<head>
		<title>Breakdown</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#"> <div id="Date-fetch">{{date}}</div></a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Page 1-1</a></li>
		          <li><a href="#">Page 1-2</a></li>
		          <li><a href="#">Page 1-3</a></li>
		        </ul>
		      </li>
		      <li><a href="#">Page 2</a></li>
		      <li><a href="#">Page 3</a></li>
		    </ul>
		  </div>
		</nav>
		
		<hr>

		<div class="container">
		  <div class="row">
		  <br><div class="w3-card">

			<header class="w3-container w3-light-grey">
			  <h3>0600 hrs- 0800 hrs</h3>
			</header>
			<div class="w3-container">
			  <p></h1></p>
			  <hr>
			  <p>{{events.0600 | default:"No event"}}</p>
			</div>

			<button class="w3-button w3-block w3-dark-grey schedule-button" data-slot-one='0600-0700' data-slot-two='0700-0800'>+ Schedule</button>

			</div>
			
			<br>
			<div class="w3-card">

			<header class="w3-container w3-light-grey">
			  <h3>0800 hrs- 1000 hrs</h3>
			</header>

			<div class="w3-container">
			  <p></h1></p>
			  <hr>
			  <table style="width:100%">
			  	<tr>
				  	<th>Event Name</th>
				  	<th>Time</th>
				  	<th>Importance</th>
			  	</tr>
			  {% for event in events.0800 %}
			  <tr>
				  <td>{{event.1}}</td>
				  <td>{{event.2}}</td>
				  <td>{{event.3}}</td>
			  </tr>
			  {% endfor %}
			  </table>
			</div>

			<button class="w3-button w3-block w3-dark-grey schedule-button" data-slot-one='0800-0900' data-slot-two='0900-1000'>+ Schedule</button>

			</div>

			<br><div class="w3-card">

			<header class="w3-container w3-light-grey">
			  <h3>1000 hrs- 1200 hrs</h3>
			</header>

			<div class="w3-container">
			  <p></h1></p>
			  <hr>
			  <p>{{events.1000 | default:"No event"}}</p>
			</div>

			<button class="w3-button w3-block w3-dark-grey schedule-button" data-slot-one='1000-1100' data-slot-two='1100-1200'>+ Schedule</button>

			</div>


			<br><div class="w3-card">

			<header class="w3-container w3-light-grey">
			  <h3>1200 hrs- 1400 hrs</h3>
			</header>

			<div class="w3-container">
			  <p></h1></p>
			  <hr>
			  <p>{{events.1200 | default:"No event"}}</p>
			</div>

			<button class="w3-button w3-block w3-dark-grey schedule-button" data-slot-one='1200-1300' data-slot-two='1300-1400'>+ Schedule</button>

			</div>

			<br><div class="w3-card">

			<header class="w3-container w3-light-grey">
			  <h3>1400 hrs- 1600 hrs</h3>
			</header>

			<div class="w3-container">
			  <p></h1></p>
			  <hr>
			  <p>{{events.1400 | default:"No event"}}</p>
			</div>

			<button class="w3-button w3-block w3-dark-grey schedule-button" data-slot-one='1400-1500' data-slot-two='1500-1600'>+ Schedule</button>

			</div>

			<br><div class="w3-card">

			<header class="w3-container w3-light-grey">
			  <h3>1600 hrs- 1800 hrs</h3>
			</header>

			<div class="w3-container">
			  <p></h1></p>
			  <hr>
			  <p>{{events.1600 | default:"No event"}}</p>
			</div>

			<button class="w3-button w3-block w3-dark-grey schedule-button" data-slot-one='1600-1700' data-slot-two='1700-1800'>+ Schedule</button>

			</div>

			<br><div class="w3-card">

			<header class="w3-container w3-light-grey">
			  <h3>1800 hrs- 2000 hrs</h3>
			</header>

			<div class="w3-container">
			  <p></h1></p>
			  <hr>
			  <p>{{events.1800 | default:"No event"}}</p>
			</div>

			<button class="w3-button w3-block w3-dark-grey schedule-button" data-slot-one='1800-1900' data-slot-two='1900-2000'>+ Schedule</button>

			</div>
			
			<br><div class="w3-card">

			<header class="w3-container w3-light-grey">
			  <h3>2000 hrs- 2200 hrs</h3>
			</header>

			<div class="w3-container">
			  <p></h1></p>
			  <hr>
			  <p>{{events.2000 | default:"No event"}}</p>
			</div>

			<button class="w3-button w3-block w3-dark-grey schedule-button" data-slot-one='2000-2100' data-slot-two='2100-2200'>+ Schedule</button>

			</div>
			
			<br><div class="w3-card">

			<header class="w3-container w3-light-grey">
			  <h3>2200 hrs- 2400 hrs</h3>
			</header>

			<div class="w3-container">
			  <p></h1></p>
			  <hr>
			  <p>{{events.2200 | default:"No event"}}</p>
			</div>

			<button class="w3-button w3-block w3-dark-grey schedule-button" data-slot-one='2200-2300' data-slot-two='2300-2400'>+ Schedule </button>

			</div>
					
		</div>
		</div>

		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Enter the Details</h4>
		      </div>
		      <div class="modal-body">
		        <form id="event_form">
				  <div class="form-group">
				    <label for="nameOfEvent">Name of the event:</label>
				    <input type="nameOfEvent" class="form-control" id="nameOfEvent">
				  </div>
				  <div>
				  <label for="time">Select Time:</label>
					  <select class="form-control" id="time">
					  	<option> Select your time--- </option>
					    <option class='time-slot-one'></option>
					    <option class='time-slot-two'></option>
					  </select>
				  </div>
				  <br>
				  <div>
				  <label for="importance">Select Importance:</label>
					  <select class="form-control" id="importance">
					    <option> Level of importance-- </option>
					    <option>Not_Important</option>
					    <option>Important</option>
					    <option>Very_Important</option>
					  </select>
				  </div>
				  <br>
				  <button id="submit_button" type="button" class="btn btn-primary">Submit</button>
				</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>

	</body>
</html>
<script src="{% static 'js/jquery/jquery-2.2.3.min.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="{% static 'js/test.js' %}"></script>

